<!DOCTYPE html>
<html>
	<head>
		<title>rhyton</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="/static/css/contact_us.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
	</head>

	<body id="bdy" >
		<div class="row " id="headerBar" style="background-color:#ffffff; position relative">
			<div class="columns large-2 small-2 large-offset-1 ">
				<h4 class="headerItem">HOME</h4>
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">CONTACT</h4>
			</div>
			<div class="columns large-2 small-2" align="center">
				<img src="/static/image/logo.png" style="margin-top:5px;margin-bottom:5px;height:70px;">
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">PROJECTS</h4>
			</div>
			<div class="columns large-2 small-2 end">
				<h4 class="headerItem">PRODUCTS</h4>
			</div>
		</div>
		<div class="row grid">
			<div class="columns large-6 ">
				<div class="row">
					<div class="columns large-10 large-offset-1">
						<h2 style="font-family:proRegular;font-size:2em;color:#ffffff;">Getting in touch is easy!</h2>
					</div>
				</div>
				<div class="row" style="margin-top:2em;">
					<div class="columns large-10 large-offset-1">
						<h6 class="address">Address</h6>
					</div>
				</div>
				<div class="row" >
					<div class="columns large-10 large-offset-1">
						<p style="color:#eeeeee;font-family:proRegular;font-size:1.2em;">4th floor, No. 17, Yaman street, Velenjak, Tehran, Iran </p>
					</div>
				</div>
				<div class="row" >
					<div class="columns small-10 small-offset-1 line">
					</div>
				</div>	
				<div class="row" style="margin-top:1em;">
					<div class="columns large-10 large-offset-1">
						<h6 class="address">Telephone</h6>
					</div>
				</div>
				<div class="row" >
					<div class="columns large-10 large-offset-1">
						<p style="color:#eeeeee;font-family:proRegular;font-size:1.2em; margin-bottom:0px;">22422409</p>
						<p style="color:#eeeeee;font-family:proRegular;font-size:1.2em;">22422410</p>

					</div>
				</div>
				<div class="row">
					<div class="columns small-10 small-offset-1 line">
					</div>
				</div>	
				
				<div class="row" style="margin-top:1em;">
					<div class="columns large-10 large-offset-1">
						<h6 class="address">Email</h6>
					</div>
				</div>
				<div class="row" >
					<div class="columns large-10 large-offset-1">
						<p style="color:#eeeeee;font-family:proRegular;font-size:1.2em;">info@rhyton.co</p>
					</div>
				</div>
							
			</div>
			<div class="columns large-4 large-offset-1 end">
				<div class="row">
					<div class="columns large-10 large-offset-1">
						<h3 style="font-family:proRegular;font-size:1.5em;color:#0B8289;">Contact with manager</h3>
						
					</div>
				</div>
				<div class="row" style="margin-top:2em;">
					<div class="columns large-11 large-offset-1">
						<input name="form_name" id="form_name" title="name" class="input" type="text" placeholder="Your name" required style="color: #000000;font-style: italic; ">
					</div>
				</div>
				<div class="row" >
					<div class="columns large-11 large-offset-1">
						<input name="form_email" id="form_email" title="email" class="input" type="email" placeholder="Your email" required style="color:#000000;font-style: italic;">
					</div>						
				</div>
				
				<div class="row" >
					<div class="columns large-11 large-offset-1">
						<textarea name="form_message" id="form_message" title="message" class="input" placeholder="Write us about any project. We'd love to work with you!" required style="color:#000000;font-style: italic;"></textarea>
					</div>						
				</div>
				<div class="row" >
					<div class="columns large-7 large-offset-1">
						<input type="checkbox" name="checkbox" id="checkbox"/>
						<label for="checkbox" style="color:#0B8289; font-size: 19px; font-family:proRegular;">Join the crew</label>
						
					</div>
					<div class="columns large-3 end">
						<button class="button" name="send_btn" style="background-color:#0B8289;">Send</button>
					</div>
					
				</div>
				
				
				
			</div>
		</div>
	</body>
</html>