<!DOCTYPE html>
<html>
	<head>
		<title>rhyton</title>
		
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="static/css/home.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="static/js/jquery.min.js"></script>
		<script type='text/javascript' src="static/js/home.js"></script>


	</head>

	<body id="bdy" >
		<div class="row " id="headerBar" style="margin-top:1em;margin-bottom:0.5em;position:fixed;">
			<div class="columns large-3 small-6">
				<h4 class="headerItem">HOME</h4>
			</div>
			<div class="columns large-3 small-6">
				<h4 class="headerItem">CONTACT</h4>
			</div>
			<div class="columns large-3 small-6">
				<h4 class="headerItem">PROJECTS</h4>
			</div>
			<div class="columns large-3 small-6">
				<h4 class="headerItem">PRODUCTIONS</h4>
			</div>

			<div class="columns large-12">
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div id="slidePanel" >
				<img id="slidePic1"src="static/images/slides/pic1.jpg" style="height:100%;width:100%;">
				<img id="slidePic2"src="static/images/slides/pic2.jpg" style="height:100%;width:100%;">
			</div>
		</div>
	</body>


</html>

