<!DOCTYPE html>
<html>
	<head>
		<title>rhyton</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="/static/css/projects.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="/static/js/jquery.min.js"></script>
		<script type='text/javascript' src="/static/js/projects.js"></script>


	</head>

	<body id="bdy" >
		<div class="row " id="headerBar" style="background-color:#ffffff;">
			<div class="columns large-2 small-2 large-offset-1">
				<h4 class="headerItem">HOME</h4>
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">CONTACT</h4>
			</div>
			<div class="columns large-2 small-2" align="center">
				<img src="/static/image/logo.png" style="margin-top:5px;margin-bottom:5px;height:70px;">
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">PROJECTS</h4>
			</div>
			<div class="columns large-2 small-2 end">
				<h4 class="headerItem">PRODUCTS</h4>
			</div>
		</div>
			<div id="main_grid" class="row grid">
				<div class="columns small-12">
					<div class="row">
						<div class="columns small-12">
							<p style="color:#0B8289;font-size:2em;font-family:proReqular; text-align:center; ">
							project name
							</p>
						</div>
					</div>
					<div class="row">
						<div class="columns large-5 large-offset-1">
							<img id="photo_name" src="/static/images/thumb/2.jpg">
						</div>
						<div class="columns large-5 end">
							<img src="/static/images/thumb/2.jpg">
						</div>
					</div>
					<div class="row">
						<div class="columns large-5 large-offset-1">
							<p style="color:#ffffff;font-size:2em;font-family:proReqular; text-align:center; ">
							before
							</p>
						</div>
						<div class="columns large-5 end">
							<p style="color:#ffffff;font-size:2em;font-family:proReqular; text-align:center; ">
							after
							</p>
						</div>
					</div>
					<div class="row">
						<div class="columns large-12">
							<p id="more" style="color:#0B8289;font-size:1.5em;font-family:proReqular; text-align:center; cursor:pointer ">
							click for more photo
							</p>
						</div>
					</div>

				</div>
<!--				
				
				<div class="columns large-3 end">
					<img  class="image" id="p4" src="/static/images/thumb/2.jpg" title="fariba" style="width:500; top: 9%;">

				</div>

				<div id="plate" style="display:none; opacity:0.8; z-index:800; top:0; left:0; width:0; height:0;">
				
				</div>
			-->

			</div>
			

			<div id="shadow" style="position:absolute;left:0px;top:0px;height:100%;width:100%;opacity:0.6;background-color:#000000;display:none;z-index:100;">
			</div>

			<div id="img_grid" class=" row grid" style=" display: none;position:absolute;top:11.5%; z-index:1000; " >
				<p id="back" style="color:#ffffff;font-size:1.5em;font-family:proReqular;top:0; cursor:pointer">back</p>
				
			</div>

		
			
	</body>
</html>

