<!DOCTYPE html>
<html>
	<head>
		<title>rhyton</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="/static/css/projects.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="/static/js/jquery.min.js"></script>
		<script type='text/javascript' src="/static/js/projects.js"></script>


	</head>

	<body id="bdy" >
		<div class="row " id="headerBar" style="background-color:#ffffff;">
			<div class="columns large-2 small-2 large-offset-1">
				<h4 class="headerItem">HOME</h4>
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">CONTACT</h4>
			</div>
			<div class="columns large-2 small-2" align="center">
				<img src="/static/image/logo.png" style="margin-top:5px;margin-bottom:5px;height:70px;">
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem" style="background-color:#bbbbbb; color:#ffffff;">PROJECTS</h4>
			</div>
			<div class="columns large-2 small-2 end">
				<h4 class="headerItem">SHOWROOM</h4>
			</div>
		</div>
			<div id="main_grid" class="row grid">
				<div class="columns small-12" style="padding:0px;height:100%;">
					<div class="row" style="margin:0px;height:100%;">

						<div class="columns large-1" style="padding:0px;height:100%;"  >
							<img id="pre" src="/static/image/prev.png" onclick="Pre()" class="pre_next" style="left:0%; top:42.66%; width:50px; height:100px; display:inline; ">
						</div>
						<div class="columns large-10">
							<div class="row" style="margin:0px;">
								<div class="columns large-12">
									<p id="name" style="text-align:center;font-size:2em;color:#0B8289; font-family:proReqular;">
									Project1
									</p>
								</div>
							</div>
							<div class="row" style="margin:0px;margin-top:1em;">
								<div class="columns large-6" align="center">
									<img class="image" id="before" src="/static/images/thumb/1b.jpg">

									<p style="color:#ffffff;font-size:2em;font-family:Segoe UI Light; text-align:center; ">
										Before
									</p>
								</div>
								<div class="columns large-6" align="center">
									<img class="image" id="after" src="/static/images/thumb/1a.jpg">

									<p style="color:#ffffff;font-size:2em;font-family:Segoe UI Light; text-align:center; ">
										After
									</p>
								</div>
							</div>
							<div class="row" style="margin:0px;">
								<div class="columns large-12">
									<p id="more" onclick="more()" style="color:#0B8289;font-size:1.5em;font-family:Segoe UI Light; text-align:center; cursor:pointer; ">
									click for more photo
									</p>
								</div>
							</div>
						</div>
						<div class="columns large-1" style="padding:0px;height:100%;">
							<img id="next" onclick="Next()" class="pre_next" src="/static/image/next.png" style="right:0%; top:42.66%; width:50px; height:100px; display:inline; ">
						</div>
					</div>
				</div>

			</div>
			

			<div id="shadow" style="position:absolute;left:0px;top:0px;height:100%;width:100%;opacity:0.6;background-color:#000000;display:none;z-index:100;">
			</div>

			<div id="img_grid" class=" row img_grid" style=" display: none;" >
				<div class="row">
					<div class="columns large-12 ">
						<img onclick="back()" src="/static/image/close.png" style="top:0%;margin:0%; cursor:pointer; ">
					</div>
				</div>
				<div class="row" style="margin:0px;">
					<div class="columns large-12">
						<div class="row" style="margin:0px;">
							<div class="columns large-4">
								<div class="row" style="margin-top:2em; margin-left:1em;">
									<div class="columns large-10 large-offset-1">
										<p style="color:#0B8289;font-size:30px;font-family:Segoe UI Light;">Project Name</p>
									</div>
								</div>
								<div class="row" style="margin-left:1em;">
									<div class="columns large-10 large-offset-1">

										<p id="project_name" style="color:#000000;font-size:1.5em;font-family:proReqular;">
										
										</p>
									</div>
								</div>
								<div class="row">
									<div class="columns large-10 large-offset-2 line">
										
									</div>

								</div>
								<div class="row" style="margin-left:1em;margin-top:1em;">
									<div class="columns large-10 large-offset-1">

										<p style="color:#0B8289;font-size:30px;font-family:proReqular;">Year</p>
									</div>
								</div>
								<div class="row" style="margin-left:1em;">
									<div class="columns large-10 large-offset-1">

										<p id="year" style="color:#000000;font-size:1.5em;font-family:proReqular;">
										
										</p>
									</div>
								</div>
								<div class="row">
									<div class="columns large-10 large-offset-2 line">
									</div>
								</div>
								<div class="row" style="margin-left:1em;margin-top:1em;">
									<div class="columns large-10 large-offset-1">

										<p style="color:#0B8289;font-size:30px;font-family:proReqular;">Location</p>
									</div>
								</div>
								<div class="row" style="margin-left:1em;">
									<div class="columns large-10 large-offset-1">

										<p id="location" style="color:#000000;font-size:1.5em;font-family:proReqular;">
										
										</p>
									</div>
								</div>

							</div>
							<div class="columns large-8" style="margin-top:2em;" align="center">

								<img  id="main_pic" src=""  style="width:500px;height:auto;border:6px solid #000000; display:none;" >
							</div>
						</div>
						<div class="row line" style="margin-left:2em; margin-top:2em; margin-right:2em;">
							
						</div>
					</div>
				
					
				</div>
				<div class="row" style="margin-top:3em">
					<div class="columns large-4 " align="center">
						<img class="images" id="p1" src=""  style=" display:none; top:9%;">

					</div>
					<div class="columns large-4 " align="center">
						<img class="images" id="p2" src=""  style="display:none; top:9%;">

					</div>
					<div class="columns large-4 " align="center">
						<img class="images" id="p3" src=""  style="display:none;top:9%;">

					</div>
				</div>
				<div class="row" style="margin-top:2em"></div>


				
			</div>

		
			
	</body>
</html>

