<!DOCTYPE html>
<html>


	<head>
		<title>rhyton</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/foundation.min.css" />	
		<link rel="stylesheet" type="text/css" href="/static/css/showRoom.css" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="/static/js/jquery.min.js"></script>
		<script type='text/javascript' src="/static/js/showRoom.js"></script>
		<script type='text/javascript' src="/static/js/jquery.hoverIntent.min.js"></script> 


	</head>

	<body id="bdy" >

		
		<div class="row " id="headerBar" style="background-color:#ffffff;z-index:-2;">
			<div class="columns large-2 small-2 large-offset-1">
				<h4 class="headerItem">HOME</h4>
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">CONTACT</h4>
			</div>
			<div class="columns large-2 small-2" align="center">
				<img src="/static/image/logo.png" style="margin-top:5px;margin-bottom:5px;height:70px;">
			</div>
			<div class="columns large-2 small-2">
				<h4 class="headerItem">PROJECTS</h4>
			</div>
			<div class="columns large-2 small-2 end">
				<h4 class="headerItem" style="background-color:#bbbbbb; color:#ffffff;">SHOWROOM</h4>
			</div>
		</div>
			<div class="row grid" >

				<div class="columns large-12" style="padding:0px;height:100%;">
					<div class="row" style="margin:0px;height:70%;" >

						<div class="columns large-1" style="padding:0px;height:100%;"  >
							<img id="pre" src="/static/image/prev.png" onclick="Pre_gallery()" class="pre_next" style="left:0%; top:35%; width:50px; height:100px; display:inline; ">
						</div>

						<div class="columns large-10">
							<div class="row" style="margin:0px;">
								<div class="columns large-4" align="center">
									<img onmouseover="showDesc(this)" onmouseout="hideDesc(this)" class="image" id="p1" src="/static/gallery/1.jpg"  style="z-index:-1;">
								</div>

								<div class="columns large-4" align="center">
									<img onmouseover="showDesc(this)" onmouseout="hideDesc(this)" class="image" id="p2" src="/static/gallery/2.jpg"  style="z-index:-1;">
								</div>

								<div class="columns large-4" align="center">
									<img onmouseover="showDesc(this)" onmouseout="hideDesc(this)" class="image" id="p3" src="/static/gallery/3.jpg"  style="z-index:-1;">
								</div>

							</div>
						</div>
						<div class="columns large-1" style="padding:0px;height:100%;">
							<img id="next" onclick="Next_gallery()" class="pre_next" src="/static/image/next.png" style="right:0%; top:35%; width:50px; height:100px; display:inline; ">
						</div>

					</div>
					<div class="row" style="margin:0px;padding:0px;">
						<div class="columns large-12">
							<p  id="text" style=" display:none; color:#ffffff;font-size:1.4em;font-family:Segoe UI Light; text-align:center; z-index:1000;">
							
							</p>
						</div>
					</div>

					
					
				</div>
			</div>
			<div id="shadow" style="position:absolute;left:0px;top:0px;height:100%;width:100%;opacity:0.7;background-color:#000000;display:none;z-index:100;">
			</div>

			
	</body>
</html>

